{# =============================================================== #}
{# Global Nav Trigger
{# =============================================================== #}
{#
  {% include '_partials/global-nav-toggle' with {
    label: 'Menu',
    action: 'open',
    key: 'my-key',
  } %}
#}

<button
  aria-label="{{ label }}"
  class="global-nav-toggle global-nav-toggle--{{ action }}"
  data-module-dialog-toggle="{{ key }}"
  data-dialog-toggle-action="{{ action }}"
>
  {{ label }}
</button>
