{# =============================================================== #}
{# Slider Base
{# =============================================================== #}
{#
  {% include '_partials/slider-base' with {
    objectName: 'my-slider',
    moduleName: 'my-slider',
    key: 'my-unique-key',
    label: 'Slider of images',
    controlsSliderKey: 'key-of-slider-to-control',
    slides: [],
  } only %}
#}

{% set moduleName = moduleName ??? null %}

{% import '_macros/class-modifiers' as classModifiers %}
{% set classes = classModifiers.set(objectName, modifiers ?? []) %}

<div
  class="{{ objectName }} {{ classes }}"
  aria-label="{{ label }}"
  data-module-reveal
  {% if moduleName %}
    data-module-{{ moduleName }}="{{ key }}"
    data-{{ moduleName }}-options="{{ options ??? '{}' }}"
    {% if controlsSliderKey ??? null %}
      data-{{ moduleName }}-controls-slider-key="{{ controlsSliderKey }}"
    {% endif %}
  {% endif %}
>
  <div class="{{ objectName }}__track" {% if moduleName %}data-{{ moduleName }}="track"{% endif %}>
    <div class="{{ objectName }}__list" {% if moduleName %}data-{{ moduleName }}="list"{% endif %}>
      {% for slide in slides %}
        <div class="{{ objectName }}__slide" {% if moduleName %}data-{{ moduleName }}="slide"{% endif %}>
          {{ slide }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
