{# =============================================================== #}
{# Layout - Dialog
{# =============================================================== #}
{#
  {% embed '_embeds/l-dialog' with {
    key: 'my-unique-key',
    modifiers: ['my-modifiers'],
    moduleName: 'dialog',
    includeClose: true,
    isAlert: false,
    closeDelay: 400,
  } %}
    {% block content %}
      …
    {% endblock %}
  {% endembed %}
#}

{# https://a11y-dialog.netlify.app #}

{% import '_macros/class-modifiers' as classModifiers %}
{% set classes = classModifiers.set('l-dialog', modifiers ?? []) %}

{% set moduleName = moduleName ??? 'dialog' %}
{% set isAlert = isAlert ?? false %}

<div
  class="l-dialog {{ classes }}"
  aria-hidden="true"
  id="{{ key }}"
  data-module-{{ moduleName }}="{{ key }}"
  {% if closeDelay is defined %}data-{{ moduleName }}-close-delay="{{ closeDelay }}"{% endif %}
  {% if isAlert %}
    role="alertdialog"
  {% endif %}
>
  {# Overlay #}
  <div
    class="l-dialog__close-overlay"
    {% if not isAlert %}
      data-a11y-dialog-hide
    {% endif %}
  ></div>

  {# Content #}
  <div class="l-dialog__inner" role="document">
    {# Content #}
    <div
      class="l-dialog__content"
    >
      {# Content Inner #}
      <div class="l-dialog__content-inner">
        {# Close #}
        {% if includeClose ?? true %}
          <div class="l-dialog__content-close">
            <button
              aria-label="Close dialog"
              type="button"
              data-module-dialog-toggle="{{ key }}"
              data-dialog-toggle-action="close"
              data-a11y-dialog-hide
            >{% block close %}Close{% endblock %}</button>
          </div>
        {% endif %}

        {# Content #}
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
</div>
